* {
    box-sizing: border-box;
  }
  
  body {
    height: 90vh;
    margin: 0;
    /* font-family: 'TF2 Build', sans-serif; */
    /* font-family: 'VT323', sans-serif; */
    /* font-family: 'DotGothic16', sans-serif; */
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-clr);
    transform: scale(0.95);
  }
  
  :root {
    /* --red: #B8383B; */
    --red: rgb(255,0,0);
    /* --B: red; */
    --blue: #5885A2;
    /* --bg-clr: rgb(43, 39, 37); */
    --bg-clr: rgb(255, 255, 255);
    /* --main-clr: rgb(235, 228, 201); */
    --main-clr: rgb(189,189,189);
    /* --sub-clr: rgb(192, 186, 173); */
    --hidden: rgb(180,180,180);
    --sub-clr: rgb(123,123,123);
    --btn-clr: rgb(98, 88, 76);
    --btn-hover: rgb(120, 55, 39);
    --H: rgb(120, 55, 39);
    --one: rgb(0,0,255);
    --two: rgb(0,128,0);
    --three: rgb(255,0,0);
    --four: rgb(0,0,128);
    --five: rgb(128,0,0);
    --six: rgb(0,128,128);
    --seven: rgb(0, 0, 0,);
    --eight: rgb(128,128,128);
  }
  
  header {
    padding-top: 15vh;
    font-size: 8vmin;
    color: var(--main-clr);
    letter-spacing: 0.35vmin;
    display: grid;
  }

  subheadings {
    display: grid;
    background-color: var(--main-clr);
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
  }
  /* subheadings > * {
    display: inline grid;
    background-color: var(--main-clr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* justify-content: space-around;
    align-items: center; */
  /* } */

  h1 {
    color: var(--sub-clr);
    font-size: 4vmin;
    display: inline grid;
    /* justify-content: start; */
  }
  
  #board {
    display: grid;
    margin-top: 2vmin;
  }
  
  #board > div {
    display: flex;
    border-radius: 0%;
    border: 1px solid var(--sub-clr);
    /* background-color: var(--main-clr); */
    /* font-size: 12vmin%; */
    justify-content: center;
    align-items: center;
    /* color: red; */
    
  }
  /* #board > #c0r0, #board >  #c1r0, #board >   #c2r0 {
    border-bottom: 1vmin solid rgb(43, 39, 37);
  }
  #board > #c0r2, #board >  #c1r2, #board >   #c2r2 {
    border-top: 1vmin solid rgb(43, 39, 37);
  }
  #board > #c0r0, #board >  #c0r1, #board >   #c0r2 {
    border-left: 1vmin solid rgb(43, 39, 37);
  }
  #board > #c2r0, #board >  #c2r1, #board >   #c2r2 {
    border-right: 1vmin solid rgb(43, 39, 37);
  } */
  
  box {
    display: grid;
    height: 30vmin;
    width:30vmin;
    border: 0.4vmin solid red;
    overflow: visible;
    margin-top: 2vmin;
  }
  
  button {
    margin-top: 4vmin;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    font-size: 2vmin;
    /* border-radius: 1vmin; */
    /* border: 0.1vmin solid var(--btn-clr); */
    color: var(--sub-clr);
    background-color: var(--main-clr);
    /* transition: all 75ms ease-in; */
    /* font-family: 'TF2 Build', sans-serif; */
    font-family: 'Press Start 2P', cursive;
  }
  
  .hidden:hover {
    color: var(--hidden);
    background-color: var(--hidden);
    border: 0.1vmin solid var(--sub-clr);
    /* transition: all 75ms ease-in; */
    cursor: pointer;
  }

  .hidden {
    /* visibility: hidden; */
    color: var(--hidden);
    background-color: var(--hidden);
  }

  .revealed {
    visibility: visible;
    /* color: red; */
    background-color: var(--main-clr);
  }