* {
    box-sizing: border-box;
  }
  
  body {
    height: 90vh;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--bg-clr);
  }
  
  :root {
    --bg-clr: rgb(230, 230, 230);
    --main-clr: rgb(189,189,189);
    --hidden: rgb(180,180,180);
    --hidden-hover: rgb(170,170,170);
    --sub-clr: rgb(123,123,123);
    --one: rgb(0,0,255);
    --two: rgb(0,128,0);
    --three: rgb(255,0,0);
    --four: rgb(0,0,128);
    --five: rgb(128,0,0);
    --six: rgb(0,128,128);
    --seven: rgb(0, 0, 0,);
    --eight: rgb(128,128,128);
  }
  
  header {
    padding: 2vh 0 2vh 0;
    font-size: 8vmin;
    letter-spacing: 0.35vmin;
    display: flex;
    justify-content: center;
    place-items: center;
  }

  subheadings {
    display: flex;
    background-color: var(--main-clr);
    width: 92vmin;
    border: 1vmin solid var(--sub-clr);
    justify-content: space-around;
    align-items: center;
    margin: 1vmin solid rgb(150,150,150);
    margin-top: 0vmin;
  }
  subheadings > div {
    display: inline-grid;
    grid-template-columns: 36vmin 7vmin;
  }
  
  
  h1 {
    color: var(--sub-clr);
    font-size: 3vmin;
    display: inline grid;
    height: 7vmin;
    width: 40vmin;
    padding: 1vmin;
    margin-right: 3vmin;
    border: 0.5vmin solid var(--sub-clr);
    border-left: 0vmin;
  }
  #timer {
    color: var(--sub-clr);
    font-size: 3vmin;
    display: inline grid;
    justify-items: start;
    align-items: start;
  }

  #username {
    justify-items: start;
    font-size: 4vmin;
    height: 7vmin;
    width: 32.5vmin;
    padding: 1vmin;
    margin-left: 3vmin;
    border: 0.5vmin solid var(--sub-clr);
    font-family: 'Press Start 2P', sans-serif;
  }

  ::placeholder {
    color: var(--sub-clr);
    font-size: 3vmin;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #userInputButton {
    display: inline-grid;
    height: 7vmin;
    width: 7vmin;
    font-size: 1vmin;
  }
  #userInputBtn:hover {
    color: rgb(67, 67, 67);
    background-color: var(--hidden-hover);

  }

  #board {
    display: grid;
    padding: 1vmin;
    padding-top: 0vmin;
    background-color: var(--sub-clr);
  }
  
  #board > div {
    display: flex;
    border-radius: 0%;
    border: 1px solid var(--sub-clr);
    justify-items: center;
    align-items: center;
  }

  button {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--main-clr);
    font-size: 2vmin;
    height: 6vmin;
    width: 6vmin;
    color: var(--sub-clr);
    font-family: 'Press Start 2P', cursive;
  }
  
  .hidden:hover {
    color: var(--hidden-hover);
    background-color: var(--hidden-hover);
    border: 0.1vmin solid var(--sub-clr);
    cursor: pointer;
  }

  .hidden {
    color: var(--hidden);
    background-color: var(--hidden);
  }

  .flagged {
    color: maroon;
    background-color: var(--hidden);
  }

  .revealed {
    visibility: visible;
    background-color: var(--main-clr);
  }
  subheadings > button > img {
    object-fit: contain;
    height: 5vmin;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #scoreboard {
    grid-row-start: 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 3vmin;
  }
  #scoreTitle {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 4vmin;
  }
  .score {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 90vmin;
  }
  li {
    font-size: 1.75vmin;
    width: 20vmin;
    padding: 1vmin;
  }